*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-back{
    background-image: url("img/progetto-treno.jpg");
    background-color: rgb(165, 252, 252);
}
h1{
    text-transform: uppercase;
}
.h1-col{
    color: rgb(253, 178, 169);
}
.container{
    background-color: rgb(223, 255, 255);
    border: 1px solid rgb(0, 195, 255) ;
    border-radius: 10px;
}
.container-am{
    display: flex;
    justify-content: center;
}

button{
    background-color: rgb(255, 222, 227);
    border-style: none;
    border: 1px solid salmon;
}





/* BIGLIETTO VIRTUALE */
.hidden{
    display: none;
}